<% content_for :title, "Posts" %>

<h2>Пости</h2>

<div id="posts">
  <% @posts.each do |post| %>
      <h2>
        <%= link_to post.title, post, style: "font-weight: bold;" %>
      </h2>
      <p><%= post.body %></p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
