/* Контейнер хедера */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Для меню користувача та авторизації */
.user-menu,
.auth-menu {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
